body{
    display: flex;
    background-color: rgba(40, 40, 142, 0.936);
}

.time{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 99vh;
}
#hour,#minute,#second,#zone{
    font-size: 40px;
    font-weight: lighter;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    box-shadow: 0 0 10px #373535;
    background-color: rgb(17, 18, 17);
    display: flex;
    justify-content: center;
    align-items: center;
}

#zone{
    color: rgb(66, 150, 224);
}

.letters {
    color: rgb(66, 150, 224);
    margin-left: 15px;
    font-size:40px;
}